<% include partials/header %>

<div class = "container">
		<h1>
		Edit <%= employee.firstName %>'s Employee Profile
	</h1>
	<hr>
	<form action="/employees/<%= employee._id %>?_method=PUT" method="POST">
	  <div class="form-group col-md">
		<label for="1">First Name:</label>		  	
		<input id ="1" class="form-control" type="text" name="editEmployee[firstName]" value="<%= employee.firstName %>" >
	  </div>
	  <div class="form-group col-md">
	  	<label for="2">Last Name:</label>
		<input id ="2" class="form-control" type="text" name="editEmployee[lastName]" value="<%= employee.lastName %>" >
	  </div>
	  <div class="form-group">
	  	<label for="3">Position:</label>
		<input id ="3" class="form-control" type="text" name="editEmployee[position]" value="<%= employee.position %>" >
	  </div>
	  <div class="form-group">
	  	<label for="4">Department:</label>
		<input id ="4" class="form-control" type="text" name="editEmployee[department]" value="<%= employee.department %>"  >
	  </div>	  
	  <div class="form-group">
	  	<label for="5">Base Salary:</label>
		<input id ="5" class="form-control" type="text" name="editEmployee[baseSalary]" value="<%= employee.baseSalary %>" >
	  </div>	
	  <div class="form-group">
	  	<label for="6">Employee Profile Pic:</label>
		<input id ="6" class="form-control" type="text" name="editEmployee[picture]" value="<%= employee.picture %>"  >
	  </div>		    
		

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>
