<!-- <header class="bg-primary text-center py-5 mb-4"> -->
<% include partials/header %>




	<div class = "container">
		<div class="jumbotron"> 
	  		<h1>Real Time Analytics</h1>
	  		<div class="row">
				<div class="col-lg-6" >
					<canvas id="myChart" width="1600" height="900"></canvas>
				</div>
				<div class="col-lg-6">
					<canvas id="myChart2" width="1600" height="900"></canvas>
				</div>


				<hr>

				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Employee ID</th>
				      <th scope="col">Lot ID</th>
					  <th scope="col">Lot Size</th>
				      <th scope="col">Sub-Process ID</th>
				      <th scope="col">Time Taken</th>
				      <th scope="col">Standard Time</th>
				      <th scope="col">Entry Quan.</th>				      
				      <th scope="col">Entry Cost</th>
				      <th scope="col">Performance (%)</th>				      				      
				    </tr>
				  </thead>
				  <tbody>
					<% lots.forEach(function(lot, i){ %> 
						<tr>
						  <th scope="row"><%= i %></th>
						  <td><%= lot.employeeID %></th>
						  <td><%= lot.lotId %></td>
						  <td><%= lot.lotSize %></td>
						  <td><%= lot.processId %></td>
						  <td><%= lot.timeTaken %></td>
						  <td><%= processTime[i] %></td>
						  <td><%= lot.lotQuantity %></td>						  				      				      
						  <td><%= entryCost[i] %></td>				      
						  <td><%= performance[i] %></td>				      
						</tr>
					 <% }); %>			    
				  </tbody>
				</table>				

	  		</div>
	  	</div>

	</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team" id="sectionpadding">
  <div class="container" id="homecontent">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <!-- <h6 class="description">OUR TEAM</h6> -->
		<h1 id=targetTitle><i class="fas fa-medal"></i> Featured Employees <i class="fas fa-medal"></i> </h1>
          <div class="row pt-md">
			  
<% featuredEmployees.forEach(function(employee){ %>  
			  
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="<%= employee.picture %>" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1><%= employee.firstName %>  <%= employee.lastName %></h1>
              <h2><%= employee.position %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
			  
<% }); %>  
			  
<!--   
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://previews.123rf.com/images/gmast3r/gmast3r1508/gmast3r150800184/44204526-profile-icon-female-avatar-woman-portrait.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Heather H</h1>
              <h2>Co-founder/ Marketing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1QwdfZjSXU5GZUVNhwne3a1ydEnjxTPfs2QwopJL9jUJubLr0" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Zachary Lim</h1>
              <h2>Web Designer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://previews.123rf.com/images/gmast3r/gmast3r1508/gmast3r150800184/44204526-profile-icon-female-avatar-woman-portrait.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Heather H</h1>
              <h2>Co-founder/ Marketing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
			  
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1QwdfZjSXU5GZUVNhwne3a1ydEnjxTPfs2QwopJL9jUJubLr0" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Zachary Lim</h1>
              <h2>Web Designer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>	 -->
			  
			  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>

	<!-- <script src="/javascripts/charts_company.js"></script> -->
<script>


var timeTaken = [<%= timeTaken %>];// it will output ewithout array [] borders
var processTime = [<%= processTime %>];// it will output ewithout array [] borders
var unixTime = [<%= unixTime %>];// it will output ewithout array [] borders
var performance = [<%= performance %>]

var months = ["Feb", "March", "April", "May"],
	averagePerformance = [80,75,89];
	targetPerformance = [70, 75, 80, 85]
	
var unixTime = [];
	for( var i = 0; i < performance.length; i++ ){
		unixTime.push(i);
	}

	var sum_performance = 0;
	for( var i = 0; i < performance.length; i++ ){
		sum_performance += parseInt( performance[i], 10 ); //don't forget to add the base
	}

	averagePerformance.push(sum_performance /performance.length);



	
	
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
		labels: months,
		datasets: [
		  { 
			label: 'Employee Performance',
			backgroundColor: 'rgba(121, 61, 244, 0.5)',      	
			data: averagePerformance
		  },
		  { 
			label: 'Standard Process Time',
			backgroundColor: 'rgba(0, 0, 255, 0.5)',
			data: targetPerformance
		  }  			
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Overall Monthly Average Performance",
				fontSize: 15, 
			
		},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}		
	});

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	  type: 'line',
	  data: {
		labels: unixTime,
		datasets: [		
		  { 
			label: 'Employee Process Time',
			backgroundColor: 'rgba(0, 255, 0, 0.4)',
			data: timeTaken
		  },
		  { 
			label: 'Standard Process Time',
			backgroundColor: 'rgba(0, 0, 255, 0.5)',
			data: processTime
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "Overall Employee Efficiency Today",
				fontSize: 15, 
			
		},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}			
	});
	
</script>
	

<% include partials/footer %>