<% include partials/header %>
	
	<div class = "container">
			<div class="jumbotron">
				<a  href="/lots/" class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-left"> Go Back</i></a>
				<h1>Lot Profile</h1>
				<div = class="row">
					<div class="col-lg-4">
						<img src="<%= foundLot.picture %>" class="img-rounded"  width="90%" height="90%">		
					</div>	
					<div class = "col-lg-6" id = "profile_details">
						<p>Lot Name: <span><%= foundLot.lotName %></span></p>
						<p>Lot ID: <span><%= foundLot.lotId %></span></p>
						<p>Quantity: <span><%= foundLot.totalQuantity %></span></p>
						<p>Status: <span><%= foundLot.status %></span></p>						
						<p>Completion: <span><%= foundLot.overallCompletion %></span> %</p>	
					</div>						
				</div>				

				<div class="row">
					<h2>Performance Metrics</h2>
					<table class="table">
					  <thead>
						<tr>
					      <th scope="col">Sub-Process ID</th>
					      <th scope="col">Name</th>
						  <th scope="col">Quan. /shirt</th>
					      <th scope="col">Sub-Quan. </th>
					      <th scope="col">Standard Time (min)</th>
					      <th scope="col">Standard Cost (RM)</th>
					      <th scope="col">Completion (%)</th>			      				      
						</tr>
					  </thead>
					  <tbody>

					 <% var f = foundLot.subProcesses; %> 	
						<tr>
						  <td><%= f.buttonProcess.subProcessId %></td>			      
						  <td><%= f.buttonProcess.subProcessName %></td>			      
						  <td><%= f.buttonProcess.subSize %></td>			      
						  <td><%= f.buttonProcess.subQuantity %></td>			      
						  <td><%= f.buttonProcess.subTime %></td>			      
						  <td><%= f.buttonProcess.subCost %></td>			      
						  <td><%= f.buttonProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.collarProcess.subProcessId %></td>			      
						  <td><%= f.collarProcess.subProcessName %></td>			      
						  <td><%= f.collarProcess.subSize %></td>			      
						  <td><%= f.collarProcess.subQuantity %></td>			      
						  <td><%= f.collarProcess.subTime %></td>			      
						  <td><%= f.collarProcess.subCost %></td>			      
						  <td><%= f.collarProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.bodyProcess.subProcessId %></td>			      
						  <td><%= f.bodyProcess.subProcessName %></td>			      
						  <td><%= f.bodyProcess.subSize %></td>			      
						  <td><%= f.bodyProcess.subQuantity %></td>			      
						  <td><%= f.bodyProcess.subTime %></td>			      
						  <td><%= f.bodyProcess.subCost %></td>			      
						  <td><%= f.bodyProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.sleeveProcess.subProcessId %></td>			      
						  <td><%= f.sleeveProcess.subProcessName %></td>			      
						  <td><%= f.sleeveProcess.subSize %></td>			      
						  <td><%= f.sleeveProcess.subQuantity %></td>			      
						  <td><%= f.sleeveProcess.subTime %></td>			      
						  <td><%= f.sleeveProcess.subCost %></td>			      
						  <td><%= f.sleeveProcess.subCompletion %></td>			      
						</tr>																								  
	

					  </tbody>
					</table>				

				</div>

			</div>

		</div>


<% include partials/footer %>