<% include partials/header %>
	
	<div class = "container">
			<div class="jumbotron">
				<div class="container" >
					<a  href="/lots/" class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-left"> Go Back</i></a>
					<a  href="/lots/<%= foundLot._id %>/edit" class="btn btn-default btn-lg"><i class="fas fa-edit"></i> Edit Profile</a>									
					<img align="right" src="https://digistorm-websites.s3-ap-southeast-2.amazonaws.com/cac-au-qld-27-website/content/Imported/Monash_Uni_Logo.jpg?mtime=20180928141803" class="img-rounded"  width="250px" height="75px">	
				</div>

				
				<h1>Lot Profile</h1>
				<div = class="row">
					<div class="col-lg-4">
						<img src="<%= foundLot.picture %>" class="img-rounded"  width="90%" height="90%">		
					</div>	
					<div class = "col-lg-6" id = "profile_details">
						<p>Lot Name: <span><%= foundLot.lotName %></span></p>
						<p>Lot ID: <span><%= foundLot.lotId %></span></p>
						<p>Quantity (pcs.): <span><%= foundLot.totalQuantity %></span></p>
						<p>Status: <span><%= foundLot.status %></span></p>						
						<p>Completion: <span><%= foundLot.overallCompletion %></span> %</p>	
					</div>						
				</div>				

				<div class="row">
					<h2>Performance Metrics</h2>
					<table class="table">
					  <thead>
						<tr>
					      <th scope="col">Sub-Process ID</th>
					      <th scope="col">Name</th>
						  <th scope="col">Quan. /shirt</th>
					      <th scope="col">Sub-Quan. </th>
					      <th scope="col">Stan. Time (min)</th>
					      <th scope="col">Stan. Cost (RM)</th>
					      <th scope="col">Stan. Sell (RM)</th>
					      <th scope="col">Sub-Completion (%)</th>			      				      
					      <th scope="col">Overall Completion (%)</th>			      				      
						</tr>
					  </thead>
					  <tbody>

					 <% var f = foundLot.subProcesses; %> 

		
						<tr>
						  <td><%= f.buttonProcess.subProcessId %></td>			      
						  <td><%= f.buttonProcess.subProcessName %></td>			      
						  <td><%= f.buttonProcess.subSize %></td>			      
						  <td><%= f.buttonProcess.subQuantity %></td>			      
						  <td><%= f.buttonProcess.subTime %></td>			      
						  <td><%= f.buttonProcess.subCost %></td>			      
						  <td><%= f.buttonProcess.subSell %></td>			      
						  <td><%= f.buttonProcess.subCompletion %></td>			      
						  <td><%= f.buttonProcess.subCompletion * 0.25 %></td>			      
						</tr>	
						<tr>
						  <td><%= f.collarProcess.subProcessId %></td>			      
						  <td><%= f.collarProcess.subProcessName %></td>			      
						  <td><%= f.collarProcess.subSize %></td>			      
						  <td><%= f.collarProcess.subQuantity %></td>			      
						  <td><%= f.collarProcess.subTime %></td>			      
						  <td><%= f.collarProcess.subCost %></td>			      
						  <td><%= f.collarProcess.subSell %></td>			      
						  <td><%= f.collarProcess.subCompletion %></td>			      
						  <td><%= f.collarProcess.subCompletion * 0.25 %></td>			      
						</tr>	
						<tr>
						  <td><%= f.bodyProcess.subProcessId %></td>			      
						  <td><%= f.bodyProcess.subProcessName %></td>			      
						  <td><%= f.bodyProcess.subSize %></td>			      
						  <td><%= f.bodyProcess.subQuantity %></td>			      
						  <td><%= f.bodyProcess.subTime %></td>			      
						  <td><%= f.bodyProcess.subCost %></td>			      
						  <td><%= f.bodyProcess.subSell %></td>			      
						  <td><%= f.bodyProcess.subCompletion %></td>			      
						  <td><%= f.bodyProcess.subCompletion * 0.25 %></td>			      
						</tr>	
						<tr>
						  <td><%= f.sleeveProcess.subProcessId %></td>			      
						  <td><%= f.sleeveProcess.subProcessName %></td>			      
						  <td><%= f.sleeveProcess.subSize %></td>			      
						  <td><%= f.sleeveProcess.subQuantity %></td>			      
						  <td><%= f.sleeveProcess.subTime %></td>			      
						  <td><%= f.sleeveProcess.subCost %></td>			      
						  <td><%= f.sleeveProcess.subSell %></td>			      
						  <td><%= f.sleeveProcess.subCompletion %></td>			      
						  <td><%= f.sleeveProcess.subCompletion * 0.25 %></td>			      
						</tr>		


	

					  </tbody>
					</table>				
					<hr>
				</div>
				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart4" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart2" width="50%" height="50%"></canvas>
					</div>					
				</div>
				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart3" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart" width="50%" height="50%"></canvas>
					</div>					
				</div>					

			</div>

		</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team" id="sectionpadding">
  <div class="container" id="homecontent">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <!-- <h6 class="description">OUR TEAM</h6> -->
		<h1 id=targetTitle><i class="fas fa-cut"></i></i> Sub-Processes <i class="fas fa-cut"></i> </h1>
          <div class="row pt-md">
			  
			  
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://static1.squarespace.com/static/51b35c55e4b062dc340ed13d/569cd8f11115e0984d28375b/569cd92e4bf118627e7b7738/1482336573936/De%2BOost%2BBespoke%2BTailoring%2B-%2BSky%2BBlue%2BOxford%2BDress%2BShirt%2BWith%2BClassic%2BCollar%2BBlack%2BButtons%2BOn%2BOrange%2BStitching%2BAnd%2BDouble%2BButton%2BBevelled%2BCuffs-3.jpg?format=300w" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1><%= f.buttonProcess.subProcessName %></h1>
              <h2><%= f.buttonProcess.subProcessId %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://3.bp.blogspot.com/-isd-dxZ2dnA/UjYtDIwElUI/AAAAAAAAGrs/30yeL_PGTxQ/s1600/Collar+Tutorial+Finished+1.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1><%= f.collarProcess.subProcessName %></h1>
              <h2><%= f.collarProcess.subProcessId %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://theamericanclassic.files.wordpress.com/2013/02/dsc_3272.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1><%= f.bodyProcess.subProcessName %></h1>
              <h2><%= f.bodyProcess.subProcessId %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="https://www.sewalongs.com/media/2012/10/07-15-baste.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1><%= f.sleeveProcess.subProcessName %></h1>
              <h2><%= f.sleeveProcess.subProcessId %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>                                    
			  
			  
			  
			  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>	


<script>


var months = ["Feb", "March", "April", "May"];

var subCostArray = [<%= f.buttonProcess.subCost %>, <%= f.collarProcess.subCost %>, <%= f.bodyProcess.subCost %>, <%= f.sleeveProcess.subCost %>];
var subSellArray = [<%= f.buttonProcess.subSell %>, <%= f.collarProcess.subSell %>, <%= f.bodyProcess.subSell %>, <%= f.sleeveProcess.subSell %>];
var subCompletionArray = [<%= f.buttonProcess.subCompletion %>, <%= f.collarProcess.subCompletion %>, <%= f.bodyProcess.subCompletion %>, <%= f.sleeveProcess.subCompletion %>];
console.log(subCompletionArray);
var sub100 = [100, 100, 100, 100];
var subLabel = ["Buttons", "Collars", "Body", "Sleeves"];

	
var unixTime = [];
	for( var i = 0; i < performance.length; i++ ){
		unixTime.push(i);
	}
	


	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	  type: 'line',
	  data: {
		labels: subLabel,
		datasets: [
		  { 
			label: 'Cost Price (RM)',
			backgroundColor: 'rgbA(47,60,126, 0.8)',      	
			data: subCostArray,
		  },		
		  { 
			label: 'Price Markup (RM)',
			backgroundColor: 'rgba(251,234,235, 0.8)',     
			data: subSellArray,
		  }				  	
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %>'s Pricing Strategy",
				fontSize: 15, 
			
		},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}		
	});

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	  type: 'horizontalBar',
	  data: {
		labels: subLabel,
		datasets: [		
		  { 
			label: 'Target Completion (%)',
			backgroundColor: 'rgba(60,26,91,0.75)',			

			data: sub100,
		  },
		  { 
			label: 'Relative Sub-Completion (%)',
			backgroundColor: 'rgba(255,247,72,0.75)',
			data: subCompletionArray,
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %> Sub-Progress (%)",
				fontSize: 15, 
			
		},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}			
	});
	

	
	


	var ctx3 = document.getElementById("myChart3");
	var myChart3 = new Chart(ctx3, {
	  type: 'doughnut',
	  data: {
		labels: ["Sleeve","Body","Collar", "Buttons" ],
		datasets: [		
		  { 
			label: "Sub-Process Distribution", 
			backgroundColor: [
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],
			data: [<%= f.sleeveProcess.subQuantity %>, <%= f.bodyProcess.subQuantity %>,<%= f.collarProcess.subQuantity %>,<%= f.buttonProcess.subQuantity %>]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %> Quantity Distribution (pcs.)",
				fontSize: 15, 
			
				},
		}			
	});	

	var restOfPie = 100 - <%= foundLot.overallCompletion %>;
	var overallSleeveCompletion = <%= f.sleeveProcess.subCompletion %> * 0.25 ;
	var overallBodyCompletion = <%= f.bodyProcess.subCompletion %> * 0.25 ;
	var overallCollarCompletion = <%= f.collarProcess.subCompletion %> * 0.25 ;
	var overallButtonCompletion = <%= f.buttonProcess.subCompletion %> * 0.25 ;	

	var ctx4 = document.getElementById("myChart4");
	var myChart4 = new Chart(ctx4, {
	  type: 'pie',
	  data: {
		labels: ["In Progress" ,"Sleeves Completed","Body Completed","Collars Completed", "Buttons Completed" ],
		datasets: [		
		  { 
			label: "Sub-Process Distribution", 
			backgroundColor: [
								"rgba(134, 136, 138, 0.60)",
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],

			data: [restOfPie, overallSleeveCompletion, overallBodyCompletion, overallCollarCompletion, overallButtonCompletion]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %> Lot Progress (%)",
				fontSize: 15, 
			
				},
		}			
	});	

	
</script>

<% include partials/footer %>