<% include partials/header %>
	
	<div class = "container">
			<div class="jumbotron">
				<a  href="/lots/" class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-left"> Go Back</i></a>
				<h1>Lot Profile</h1>
				<div = class="row">
					<div class="col-lg-4">
						<img src="<%= foundLot.picture %>" class="img-rounded"  width="90%" height="90%">		
					</div>	
					<div class = "col-lg-6" id = "profile_details">
						<p>Lot Name: <span><%= foundLot.lotName %></span></p>
						<p>Lot ID: <span><%= foundLot.lotId %></span></p>
						<p>Quantity (pcs.): <span><%= foundLot.totalQuantity %></span></p>
						<p>Status: <span><%= foundLot.status %></span></p>						
						<p>Completion: <span><%= foundLot.overallCompletion %></span> %</p>	
					</div>						
				</div>				

				<div class="row">
					<h2>Performance Metrics</h2>
					<table class="table">
					  <thead>
						<tr>
					      <th scope="col">Sub-Process ID</th>
					      <th scope="col">Name</th>
						  <th scope="col">Quan. /shirt</th>
					      <th scope="col">Sub-Quan. </th>
					      <th scope="col">Standard Time (min)</th>
					      <th scope="col">Standard Cost (RM)</th>
					      <th scope="col">Standard Sell (RM)</th>
					      <th scope="col">Completion (%)</th>			      				      
						</tr>
					  </thead>
					  <tbody>

					 <% var f = foundLot.subProcesses; %> 	
						<tr>
						  <td><%= f.buttonProcess.subProcessId %></td>			      
						  <td><%= f.buttonProcess.subProcessName %></td>			      
						  <td><%= f.buttonProcess.subSize %></td>			      
						  <td><%= f.buttonProcess.subQuantity %></td>			      
						  <td><%= f.buttonProcess.subTime %></td>			      
						  <td><%= f.buttonProcess.subCost %></td>			      
						  <td><%= f.buttonProcess.subSell %></td>			      
						  <td><%= f.buttonProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.collarProcess.subProcessId %></td>			      
						  <td><%= f.collarProcess.subProcessName %></td>			      
						  <td><%= f.collarProcess.subSize %></td>			      
						  <td><%= f.collarProcess.subQuantity %></td>			      
						  <td><%= f.collarProcess.subTime %></td>			      
						  <td><%= f.collarProcess.subCost %></td>			      
						  <td><%= f.collarProcess.subSell %></td>			      
						  <td><%= f.collarProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.bodyProcess.subProcessId %></td>			      
						  <td><%= f.bodyProcess.subProcessName %></td>			      
						  <td><%= f.bodyProcess.subSize %></td>			      
						  <td><%= f.bodyProcess.subQuantity %></td>			      
						  <td><%= f.bodyProcess.subTime %></td>			      
						  <td><%= f.bodyProcess.subCost %></td>			      
						  <td><%= f.bodyProcess.subSell %></td>			      
						  <td><%= f.bodyProcess.subCompletion %></td>			      
						</tr>	
						<tr>
						  <td><%= f.sleeveProcess.subProcessId %></td>			      
						  <td><%= f.sleeveProcess.subProcessName %></td>			      
						  <td><%= f.sleeveProcess.subSize %></td>			      
						  <td><%= f.sleeveProcess.subQuantity %></td>			      
						  <td><%= f.sleeveProcess.subTime %></td>			      
						  <td><%= f.sleeveProcess.subCost %></td>			      
						  <td><%= f.sleeveProcess.subSell %></td>			      
						  <td><%= f.sleeveProcess.subCompletion %></td>			      
						</tr>																								  
	

					  </tbody>
					</table>				
					<hr>
				</div>
<!-- 				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart2" width="50%" height="50%"></canvas>
					</div>					
				</div> -->
				<div class="row">
					<div class="col-lg-6" >
						<canvas id="myChart3" width="50%" height="50%"></canvas>
					</div>
					<div class="col-lg-6" >
						<canvas id="myChart4" width="50%" height="50%"></canvas>
					</div>					
				</div>					

			</div>

		</div>


<script>



var months = ["Feb", "March", "April", "May"],
	averagePerformance = [80,75,89];
	



	
var unixTime = [];
	for( var i = 0; i < performance.length; i++ ){
		unixTime.push(i);
	}
	

	
	


	var ctx3 = document.getElementById("myChart3");
	var myChart3 = new Chart(ctx3, {
	  type: 'doughnut',
	  data: {
		labels: ["Sleeve","Body","Collar", "Buttons" ],
		datasets: [		
		  { 
			label: "Sub-Process Distribution", 
			backgroundColor: [
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],
			data: [<%= f.sleeveProcess.subQuantity %>, <%= f.bodyProcess.subQuantity %>,<%= f.collarProcess.subQuantity %>,<%= f.buttonProcess.subQuantity %>]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %> Quantity Distribution (pcs.)",
				fontSize: 15, 
			
				},
		}			
	});	

	var restOfPie = 100 - <%= f.sleeveProcess.subCompletion %> - <%= f.bodyProcess.subCompletion %> - <%= f.collarProcess.subCompletion %> - <%= f.buttonProcess.subCompletion %>;

	var ctx4 = document.getElementById("myChart4");
	var myChart4 = new Chart(ctx4, {
	  type: 'pie',
	  data: {
		labels: ["In Progress" ,"Sleeves Completed","Body Completed","Collars Completed", "Buttons Completed" ],
		datasets: [		
		  { 
			label: "Sub-Process Distribution", 
			backgroundColor: [
								"rgba(134, 136, 138, 0.60)",
								"rgb(255, 99, 132)",
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgba(0, 255, 0, 0.4)",
							],

			data: [restOfPie, <%= f.sleeveProcess.subCompletion %>, <%= f.bodyProcess.subCompletion %>,<%= f.collarProcess.subCompletion %>,<%= f.buttonProcess.subCompletion %>]
		  }      
		]
	  },
		options: { 
			title: {
				display: true,
				text: "<%= foundLot.lotName %> Lot Progress (%)",
				fontSize: 15, 
			
				},
		}			
	});	

	
</script>

<% include partials/footer %>